* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Header Style */
.header-wrapper {
    background: black;
    color: #fff;
    font-weight: 200;
    font-size: 0.75em;
}

.header-wrapper ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.internal-wrapper {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}

.header-wrapper .header-links-wrapper ul li a {
    text-decoration: none;
    color: #fff;
}

.header-wrapper .header-links-wrapper ul li {
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;
}

.header-wrapper .header-links-wrapper ul li:hover {
    opacity: 1;
}

.logo-link,
.search-link,
.cart-link {
    width: 18px;
    display: block;
}

.header-wrapper .header-links-wrapper ul li.logo-link {
    padding: 12px 0 10px;
}

.header-wrapper .header-links-wrapper ul li.search-link {
    padding: 14px 0 8px;
}

.header-wrapper .header-links-wrapper ul li.cart-link {
    padding: 12px 0 10px;
}
/* section - 1 */
.first{
    background-color: #fafafa;
    text-align: center;
    padding: 25px 0;
}
.title{
    font-weight: 700;
    font-size: 56px;
}
.description{
    font-size: 25px;
}
.more{
    padding: 15px 0;
}
.more ul li{
    display: inline-block;
    padding-right: 20px;
}
.more ul li a{
    color:#06c;
    text-decoration: none;
}
.more ul li a:hover{
    color: #000;
}
.more ul li a:after{
    font-weight: 900;
    padding-left: 10px;

}

/* section -  2*/

.section_two_wrapper {
  text-align: center;
  background-image: url(../images/home/iphone11-pro-bg.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 25px 20px;
}
.iphone_11_pro_price{
    font-size: 0.85em;
    color: #86868b;
}

.links-wrapper ul {
    list-style: none;
}

.links-wrapper {
    padding: 15px 0;
}

.links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;
}

.links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
}

.links-wrapper ul li a:hover {
    color: #000;
}

.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

/* section - 3 */
.section_three_wrapper {
  text-align: center;
  background-image: url(../images/home/iphone11-bg.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 25px 20px;
}

.iphone_11 {
  font-size: 40px;
  font-weight: 700;
}
.iphone_11_description {
  font-size: 30px;
  padding: 10px 0;
}
.iphone_11_price {
  font-size: 18px;
  opacity: 0.6;
}

.lists_links_wrapper ul {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  list-style: none;
  margin-top: 20px;
}
.lists_links_wrapper ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #1874ce;
}
.lists_links_wrapper ul li a:hover {
  color: black;
}
.lists_links_wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/* section - 5 */
.fivth_section {
    display:flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}
.left_side_wraper, .right_side_wraper {
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}
.left_side_wraper {
    background-image: url("../images/home/apple-tv-background.jpg");
}
.right_side_wraper{
    background-image: url("../images/home/air-pods.jpg");
    background-size: initial;
    color: #fff;
    background-color: #000;
    background-position: bottom;
}/* section - 1 */

/* section - 1 */
.first{
    background-color: #fafafa;
    text-align: center;
    padding: 25px 0;
}
.title{
    font-weight: 700;
    font-size: 56px;
}
.description{
    font-size: 25px;
}
.more{
    padding: 15px 0;
}
.more ul li{
    display: inline-block;
    padding-right: 20px;
}
.more ul li a{
    color:#06c;
    text-decoration: none;
}
.more ul li a:hover{
    color: #000;
}
.more ul li a:after{
    font-weight: 900;
    padding-left: 10px;
}
/* section - 3 */
.section_three_wrapper {
  text-align: center;
  background-image: url(../images/home/iphone11-bg.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 25px 20px;
}

.iphone_11 {
  font-size: 40px;
  font-weight: 700;
}
.iphone_11_description {
  font-size: 30px;
}
.iphone_11_price {
  font-size: 18px;
  opacity: 0.6;
}

.lists_links_wrapper ul {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  list-style: none;
  margin-top: 20px;
}
.lists_links_wrapper ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #1874ce;
}
.lists_links_wrapper ul li a:hover {
  color: black;
}
.lists_links_wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
/* section - 4 */
.fourth-highlight-wrapper{
    display: flex;
    justify-content: space-between;
    color:black;
    
}
.left-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0 1%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .left-side-wrapper{
    background-image: url(../images/home/watch-series-5.jpg);
}
.fourth-highlight-wrapper .right-side-wrapper{
    background-image: url(../images/home/apple-card.jpg);
}
.right-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0 0.5%;
    padding-top: 54px;
}

.description-wrapper{
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
}

/* section - 5 */
.fivth_section {
    display:flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}
.left_side_wraper, .right_side_wraper {
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}
.left_side_wraper {
    background-image: url("../images/home/apple-tv-background.jpg");
}
.right_side_wraper{
    background-image: url("../images/home/air-pods.jpg");
    background-size: initial;
    color: #fff;
    background-color: #000;
    background-position: bottom;
}
/* Footer Section */
footer {
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: 0.65em;
}
.upper-text-container {
    padding: 20px 0;
    border-bottom: 1px solid #1d1d1f;
}
.upper-text-container a {
    text-decoration: none;
    color: #515154;
}
.upper-text-container a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.footer-links-wrapper,
.copyright-wrapper,
.footer-links-terms ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
}
.footer-links-wrapper ul {
    padding-bottom: 15px;
}
.footer-links-wrapper ul li a {
    text-decoration: none;
    color: #515154;
}
.footer-links-wrapper h3 {
    padding-bottom: 5px;
}
.footer-links-terms ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #515154;
}
.footer-links-terms ul li a {
    text-decoration: none;
    color: #515154;
}
.country {
  display: flex;
}
.footer-country-name {
  padding: 3px 10px;
}